body {
  margin: 0px;

  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #303030;

  background-image: url('../img/header1.jpg');
  background-size: 100% 400px;
  background-position: top center;
  background-repeat: no-repeat;
}

.main-navigation{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

a:hover{
  background-color: transparent;
  color: black;
}

.nav-list {
  width: 100%;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

li {
  height: 35px;
  float: left;
}

li a {
  margin-top: 10px;
  display: block;
  text-align: center;
  padding: 0px 50px 0px 50px;
  color: #606060;
  font-size: 12px;
}

.intro{
  text-align: center;
  display: block;
}

.text-welcome{
  margin-top: 80px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #e6e8ef;
  font-size: 50px;
}

.text-to{
  margin-top: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: bisque;
}

.text-title {
  margin-top: 40px;
  font-family: Avenir Next;
  font-weight: 600;
  font-size: 50px;
  color: white;
}

.text-quote {
  color: white;
  font-size: 20px;
  font-family: 'Segoe print';
  margin-bottom: 20px;
}

.image-line{
  width: 100%;
  height: 200px;
}

.text {
  line-height: 24px;
  margin: 50px;
  padding: 0 150px;
}

.categories{
  display: block;
}

.categories-line {
  padding: 20px;
  display: flex;
}

.category {
  margin: 20px;
}

.category-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  height: 60px;
}

.category-title {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

.category-text {
  line-height: 24px;
  text-align: center;
  color: #606060;
}

.image-line-second {
  height: 270px;
}

.benefit {
  padding: 20px;
}
.benefits {
  padding: 20px;
  background-color: #f5f5f5;
  display: flex;
}

.interested {
  width: 100%;
}

.interested-title {
  padding-top: 30px;
  text-align: center;
}

.interested-text{
  line-height: 24px;
  text-align: center;
  padding: 0 250px;
  color: #606060;
}

.search-title {
  width: 450px;
  height: 40px;
  margin: auto;
  margin-top: 40px;
  padding-top: 20px;
  background-color: #71635a;
  color: white;
  text-align: center;
}

.map-boared {
  background-image: url("../img/map.png");
  width: 100%;
  height: 400px;
}

.search-board {
  width: 450px;
  height: 320px;
  margin: auto;
  margin-top: 0px;
  background-color: white;
  box-shadow: 0 0 15px #666666;
}

.search-form {
  padding: 40px;
}

.search-line {
  display: flex;
  width: auto;
  padding: 10px 0;
}

.search-label{
  padding: 5px 0;
}

.search-input {
  padding: 5px;
  margin-left: auto;
  margin-right: 0px;
  width: 280px;
  height: 20px;
}

.search-adults {
  display: flex;
}

.search-kids {
  display: flex;
  margin-right:0;
  margin-left: auto;
}

.number-module{
  height: 30px;
  display: flex;
}

.number{
  width: 35px;
}

.adults {
  margin-right: 26px;
}

.kids {
  margin-right: 15px;
}

.search-minus-btn {
  margin-right: -1px;
  width: 30px;
}

.search-plus-btn {
  margin-left: -1px;
  width: 30px;
}

.number-btn {
  background-color: #ffffff;
  border: 1px solid #d4d4d4;
  color: #606060;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.search-btn {
  display: flex;
}

.search-submit-btn {
  margin: auto;
  margin-top: 45px;
  border: none;
  background-color: #c1c8db;
  width: 130px;
  height: 35px;
  color: white;
}

.search-submit-btn:hover {
  background-color: #a3adc4;
}

.footer-container {
  display: flex;
  background-color: white;
  padding: 20px;
}

.tag {
  padding-top: 10px;
  margin-left: 20px;
  margin-right: auto;
}

.social {
  margin: auto;
}

.my-logo {
  padding-top: 10px;
  margin-right: 20px;
  margin-left: auto;
}

i {
  font-size: 30px;
  color:#909090;
  padding:5px;
}

i:hover {
  color: black;
}